<!doctype html>
<html>
<head>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="js/Overview.js"></script>
    <script type="text/javascript" src="js/Resume.js"></script>
    <script type="text/javascript" src="js/Gallery.js"></script>
    <script type="text/javascript" src="js/App.js"></script>
    <!--<link rel="stylesheet" href="todo.css" />-->
</head>
<body ng-app="KevHender">

    <section ng-controller="TabCtrl as tabs">
        <ul class="nav nav-pills">
            <li ng-class="{ active:tabs.isSet(1) }">
                <a href ng-click="tabs.setTab(1)">Overview</a>
            </li>
            <li ng-class="{ active:tabs.isSet(2) }">
                <a href ng-click="tabs.setTab(2)">R&eacute;sum&eacute;</a>
            </li>
            <li ng-class="{ active:tabs.isSet(3) }">
                <a href ng-click="tabs.setTab(3)">Gallery</a>
            </li>
            <li ng-class="{ active:tabs.isSet(4) }">
                <a href ng-click="tabs.setTab(4)">Contact</a>
            </li>
        </ul>

        <overview></overview>

        <resume></resume>

        <gallery></gallery>

    </section>

</body>
</html>