/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: $base-color,
    $ui-tab-background-color-over: lighten($base-highlight-color, 10%),
    $ui-tab-background-color-active: $base-highlight-color,
    $ui-tab-background-gradient: 'none',
    $ui-tab-background-gradient-over: 'none',
    $ui-tab-background-gradient-active: 'linear-gradient',
    $ui-tab-color: #fff,
    $ui-tab-color-over: #fff,
    $ui-tab-color-active: #fff,
    $ui-tab-glyph-color: #fff,
    $ui-tab-glyph-color-over: #fff,
    $ui-tab-glyph-color-active: #fff,
    $ui-tab-glyph-opacity: 1,
    $ui-tab-background-opacity-over: 0.7,
    $ui-tab-border-radius: 4px,
    $ui-tab-border-width: 0,
    $ui-tab-inner-border-width: 0,
    $ui-tab-padding: 12px 24px,
    $ui-tab-margin: 0,
    $ui-tab-font-size: 15px,
    $ui-tab-font-size-over: 15px,
    $ui-tab-font-size-active: 15px,
    $ui-tab-line-height: 19px,
    $ui-tab-font-weight: bold,
    $ui-tab-font-weight-over: bold,
    $ui-tab-font-weight-active: bold,
    $ui-tab-icon-width: 24px,
    $ui-tab-icon-height: 24px,
    $ui-tab-icon-spacing: 5px,
    $ui-bar-background-color: $base-color,
    $ui-bar-background-gradient: 'none',
    $ui-bar-padding: 0,
    $ui-strip-height: 0,
    $ui-tab-outline-width-focus: 0
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    //$ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    //$ui-header-font-weight: bold,
    //$ui-header-icon-height: 24px,
    $ui-header-icon-width: 0,
    $ui-header-icon-spacing: 0,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 0,
    $ui-border-radius: 4px,
    $ui-body-border-width: 1px,
    $ui-body-border-color: $base-color,
    $ui-header-noborder-adjust: false
);

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
}

.x-panel-navigation {
    > .x-panel-header {

        border-radius: 4px;

        h1 {
            font-size: 48px;
            text-align: center;
            margin: 10px 0;
            line-height: 36px;
        }

        h2 {
            font-size: 18px;
            text-align: center;
            margin: 0;
            letter-spacing: -0.7px;
        }
    }

    > .x-panel-body {
        margin: 15px 0;
        border: 1px solid $base-color !important;
        border-radius: 4px;

        > .x-tabpanel-child {
            padding: 15px;
        }
    }
}